<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
              <rule name="rule 1X" stopProcessing="true">
<match url="^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$"  ignoreCase="true" />
<action type="Rewrite" url="/public/index.php?controller={R:1}&amp;action={R:2}&amp;id={R:3}"  />
</rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>

